{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    {% comment %}I had rather used the admins Media class, but this is a custom view {% endcomment %}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}" />
    <script src="{% static 'js/jquery1.9.1.min.js' %}"></script>
    <script src="{% static 'js/viz.min.js' %}"></script>
    <script>
        jQuery(document).ready(function () {
            const family_tree = `{{ family_tree_graphviz|safe }}`;
            jQuery('#graphviz_family_tree_svg').html(Viz(family_tree, "svg"));
        });
    </script>
{% endblock %}

{% block content %}

    <h1>{% translate "Family tree of" %} {{ bird }}</h1>

    <div id="content-main">
        <div>
            <div class="submit-row">
                <p class="deletelink-box">
                    <a class="button" href="{% url 'admin:budgie_bird_bird_changelist' %}">{% translate "Back to the overview" %}</a>
                </p>
            </div>
        </div>

        <div id="graphviz_family_tree_svg"></div>

    </div>

{% endblock %}